<configuration>
    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <!-- Timestamp -->
                <timestamp>
                    <fieldName>@timestamp</fieldName>
                </timestamp>
                <!-- Message -->
                <message />
                <!-- Logger Name -->
                <loggerName>
                    <fieldName>logger_name</fieldName>
                </loggerName>
                <!-- Thread Name -->
                <threadName>
                    <fieldName>thread_name</fieldName>
                </threadName>
                <!-- Log Level -->
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <!-- Custom Field for User -->
                <mdc>
                    <fieldName>user</fieldName>
                    <includeMdcKey>user</includeMdcKey>
                </mdc>
            </providers>
        </encoder>
    </appender>

    <!-- File Appender for JSON logs -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/application.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/application-%d{yyyy-MM-dd}.json</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <!-- Timestamp -->
                <timestamp>
                    <fieldName>@timestamp</fieldName>
                </timestamp>
                <!-- Message -->
                <message />
                <!-- Logger Name -->
                <loggerName>
                    <fieldName>logger_name</fieldName>
                </loggerName>
                <!-- Thread Name -->
                <threadName>
                    <fieldName>thread_name</fieldName>
                </threadName>
                <!-- Log Level -->
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <!-- Custom Field for User -->
                <mdc>
                    <fieldName>user</fieldName>
                    <includeMdcKey>user</includeMdcKey>
                </mdc>
            </providers>
        </encoder>
    </appender>

    <!-- Logger for your application -->
    <logger name="com.example.softwareloggingapp" level="info" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </logger>

    <!-- Root Logger -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
